.container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .buttonDelete {
    margin-left: 20%;
    display: block;
    height: 30px;
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #1aafa3;
    border-color: #1aafa3;
  }
  
  .buttonDelete:hover,
  .buttonDelete:focus,
  .buttonDelete:active {
    background: none repeat scroll 0 0 #eb4848;
    border-color: #e83131;
  }